package partial

import "example.com/image-proxy/myimage"

templ Responsive_Image(opts myimage.MyOptions) {
	// max width as starting point
	<div>{ opts.Format }</div>
	<div>{ opts.OriginalUrl }</div>
	<img src="" alt=""/>
}
